*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.header {
    transition: padding 0.3s, background-color 0.3s;
}

.header.sticky {
    padding: 10px 12%; 
    background: rgba(0,0,0,0.6); 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    -ms-grid-column-align: center;
    z-index: 100;
}


.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transition: scale(1.1);
}

span{
    color: orangered;
}

.navbar {
    transition: padding 0.3s, background-color 0.3s;
}


.navbar.sticky {
    padding: 10px 0; 
    background-color: #040a18; 
}

    .navbar a{
        font-size: 18px;
        color: white;
        font-weight: 500;
        margin: 0 20px;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }

    .navbar a:hover{
        color: orangered;
        border-bottom: 3px solid orangered;
    }
    .navbar a.active {
        color: orangered;
        border-bottom: 3px solid orangered;
    }
    

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 60px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
} 
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.img-box img {
    border-radius: 13%;
    width: 435px;
    height: 405px;
    object-fit: cover;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.6);
    width: 50px;
}
    

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    border-radius: 13%;
    width: 435px;
    height: 405px;
    object-fit: fill;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 13%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

/* Blog Section */
.blog {
    padding: 80px 12%;
    background-color: white;
}

.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

.blog-content h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.blog-content article {
    margin-bottom: 60px;
}

.blog-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.blog-content p {
    font-size: 18px;
    line-height: 1.6;
}
.blog-content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: bold; 
}

.blog-content a:hover{ 
        color: orangered;
        transition: all ease 0;
}


.gallery {
    min-height: 100vh;
    background: #e7f2fd;
    overflow:hidden ;
}
.gallery h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 30px;
}

.container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    gap: 10px;
    margin-bottom: 20px;
    overflow-y: auto; 
    max-height: calc(100vh - 100px); 

}
.filter-buttons{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-buttons button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.05);
}

.filter-buttons button:hover {
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transition: scale(1.1);
}
.filter-buttons button.active {
    background: orangered;
    color: white;
}
.filterable-photo {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.photo {
    position: relative;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: white;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.05);
    overflow: hidden;
}
.photo.hide {
    display: none;
}

.photo img {
    width: 100%;
    height: 210px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.photo-body {
    padding: 15px 20px 20px;
}
.photo-title {
    font-size: 20px;
    font-weight: 500;
    color: #333;    
}
.photo-text {
    font-size: 18px;
    color: #333;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(227, 74, 36, 0.7);
}

.photo:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Gallery styles for the popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999;
}

.popup-image {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
    background-color: #ff4444; 
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #333;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;

}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}